# Jekyll Configuration
title: Drone4VentFacts
description: A blog about Geography, Gaming and more
baseurl: "/Drone4VentFacts"
url: "https://thestamp.github.io/Drone4VentFacts"

# Build settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Permalink structure
permalink: /:title/

# Collections
collections:
  posts:
    output: true
    permalink: /:title/

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/